<li>
    <ul>
    	<h4><%= menu_item.name %>: $<%=menu_item.formatted_price %></h4>
    	<li>
    		<%= render partial:"menu_items/delete", locals: {menu_item: menu_item, cafe: @cafe} %>
    	</li>
    	<li>
    		<%= render partial:"menu_items/edit", locals: {menu_item: menu_item, cafe: @cafe} %>
    	</li>
    </ul>
</li>
