<div id="login-modal" class="popupContainer">
  <header class="popupHeader">
    <span class="header_title">Log in</span>
    <span class="modal_close"><i class="fa fa-times"></i></span>
  </header>  

    <section class="popupBody user-login">
     <%= form_for(:user_session, url: users_sessions_path) do |f| %>

      <%= f.text_field :email, placeholder: "Email" %></p>
      <%= f.password_field :password, placeholder: "Password"%></p>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>    
    </section>
</div>