<ul class="no-bullet">
<% coffee_gifts.each do |gift| %>
  <% if gift.redeemed %>
    <li>
    <%= link_to "#{gift.cafe.name} (#{gift.name})", coffee_gift_path(gift), class: "coffee-gift redeemed" %>
    </li>
  <% else %>
    <li>
    <%= link_to "#{gift.cafe.name} (#{gift.name})", coffee_gift_path(gift), class: "coffee-gift unredeemed" %>
    </li>
  <% end %>
  <br>
<%end%>
</ul>
