<li><figure>
  <%= link_to image_tag(cafe.picture.standard.url), cafe %>
  <figcaption>
    <h4><%= cafe.name %></h4>
    <span>
      <% if cafe.neighborhood %>
        <%= link_to cafe.neighborhood, cafes_neighborhood_path, class: "tag-container"%>
      <% end %>
      <% if cafe.borough %>
        <%= link_to cafe.borough, cafes_borough_path, class: "tag-container"%>
      <% end %>
    </span>
    <br>
  </figcaption>
</figure></li>


