<div class="row">
  <div class="small-12 columns">
    <h1><%=@cafe.name%></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= cl_image_tag(@cafe.picture, :width => 1000, :height => 400, :crop => :fill) %>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <% if @cafe.owner?(current_cafe) %>
    <%= render partial: "profile_view" %>
    <% else %>
    <%= render partial: "user_view" %>
    <% end %>
  </div>
</div>
<br>






