<div class="row">
  <div class="small-12 medium-10 medium-offset-1 columns">

    <h1><%=@cafe.name%></h1>
     <%= cl_image_tag(@cafe.picture, :width => 1600, :height => 700, :crop => :fill) %>
     <hr>
    <% if @cafe.owner?(current_cafe) %>
    <%= render partial: "profile_view" %>
    <% else %>
    <%= render partial: "user_view" %>
    <% end %>
  </div>
</div>






