.banner {
  height: 35em;
  width: 100%
}
.tag-container {
  line-height: 28px;
  word-break: keep-all;
  word-wrap: normal;
  display: inline;
  padding: 4px 5px;
  margin: 5px 5px 5px 0;
  color: #999;
  font-size: 12px;
  border: #ccc 1px solid;
  border-radius: 3px;
}
.tag-container:hover {
  background-color: #EEEEEE;
  color: black;
}
