.banner {
    height: 35em;
    width: 100%
  }

.square {
  width: 100%;
  height: 400px;
}


.coffee-gift {
  padding: 4px 8px;
  border: #ccc 1px solid;
  border-radius: 3px;
}

.accordion {
  margin-left: 0;
}

.bold {
  font-weight: 500;
}

.redeemed, .redeemed:hover {
  border: #EFEFEF 1px solid;
  color: #DDDDDD;
}
