$header-bar-color: #c7a693;

body { background-color: #F2F2ED; }

.row { background-color: #F2F2ED; }

.title-area .name h1 a {
	font-family: "Pacifico", sans-serif;
}

.top-bar-section li a:not(.button) {
    background:white;
    color: #5e0231;
}

.top-bar-section li a:not(.button):hover {
    background:white;
    color: black;
 }

 .top-bar-section li:not(.has-form) a:not(.button) {
 	background: white;
 }   

  .top-bar-section li:not(.has-form) a:not(.button):hover {
 	background: white;
 }  

#logo-text {
	position: absolute;
	top: 200px;
	z-index: 1;
	width: 100%;
	text-align: center;

	p {
		display: block;
		color: white;
		text-align: center;
	}

	#logo-subtitle {
		font-family: "Quicksand";
		font-size: 26pt;
		// font-style: italic;
		font-weight: 700;
	}

	#logo-title {
		font-family: "Pacifico";
		font-size: 100pt;
	}
}

#main-img img {
	opacity: 0.55;
}

// .full-width {
// 	// margin: 0;
// 	// padding: 0;
// 	width: 100%;
// 	// position: fixed;
// 	margin-top: -70px;
// 	// left: 0;
// 	// right: 0;
// 	z-index: 1;
// }


// .example-orbit {
// 	width: 100% !important;
// // }

// .index-img {
//  display:block;
//  background: #FF5722 url('cafe.jpg') no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//  width: 100%;
//  height: auto;
//  // min-height: auto;
//  z-index:1;
//  padding: 2rem;
//  margin-top: -70px;
// }