$header-bar-color: #f4f4f4;;
$body-color: #e1e3e4;
$raspberry-logo-color: #D15271;
$maroon-text-color: #5e0231;
$light-blue: #60C2D2;
$darker-blue: #49A4B3;


body {background-color: $body-color;}

.row { background-color: $body-color; }

.cafes-container {background-color: $body-color;}

.vertical_paddings {
  padding-top:2%;
  padding-bottom:2%;
}

.paddings {padding: 2%;}
