$header-bar-color: #f4f4f4;;
$body-color: #e1e3e4;
$raspberry-logo-color: #D15271;
$maroon-text-color: #5e0231;
$light-blue: #60C2D2;
$darker-blue: #49A4B3;

div.transaction-container {
  border-top: 15px solid white;
  border-right: 15px solid white;
  border-bottom: 7px solid white;
  border-left: 15px solid white;
  background-color: white;
}
div.add-border {
  border: 1px solid $light-blue;
}
